
.CFUserTextEncoding
.bash_history
.bash_profile-anaconda3.bak
.condarc
.eslintrc
.eslintrc.js.2
.eslintrc.ok.1
.eslintrc.org
.lesshst
.node_repl_history
.python_history
.z
.zsh_history
.zcompdump-tom’s\ MacBook\ Pro-5.3
