.android/
.node-gyp/
.rncache/
.yarnrc
.expo/
saleor.txt
transifex-api-token.txt

.gem

## donot know what to do
eslintrc.js
dotfiles-private
.gvm/
.oh-my-zsh/
.CFUserTextEncoding
.condarc
.eslintrc.20190202
.eslintrc.js.2
.eslintrc.ok.1
.eslintrc.org
.lesshst
.z
.zcompdump-tom’s\ MacBook\ Pro-5.3
.docker/
.freemind/
.grip/
.ipynb_checkpoints/
.kube/
.pyenv/
.wget-hsts
.ShadowsocksX/
.Trash/
.anaconda/
.bash_sessions/
.cask/
.conda/
.config/
.ipython/
.jupyter/
.kingsoft/
.lawyer/
.local/
.matplotlib/
.npm/
.vim/
.virtualenvs/
.vscode/
package-lock.json
package.json

## donot know what meaning, but need
view/
.netrwhist
.ycm_extra_conf.pyc
bundle/*
!bundle/vundle

## 	make secret data into .gitconfig.local
/.gitconfig.local

## history files
.bash_history
.python_history
.node_repl_history
.zsh_history

## private files
taro
WeChatProjects/
react
ngrok
blog
gitee/
github/
golang/
node_modules/
content/
django/
ls/
soft/
spacemacs/
ssh/
test/
testJs-ctags/
tmp/
tom/
bitbucket/
org
Spacemacs-rocks

## must ignore and know what it is
.tmuxinator
.zshrc.local

## must ignore and know what it is
.emacs.d/
.spacemacs.d/
.viminfo
anaconda3/
.DS_Store
.ssh/

## edit files 
.DS_Store
*/.DS_Store
*.swp

## system dirs
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
